<form [formGroup]="form" (ngSubmit)="onSubmit()">

    @for(formField of formFields$ | async; track formField.id){
    <app-form-input [formField]="formField" [form]="form"></app-form-input>
    }

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Cadastrar</button>
    <br>
    <span class="small text-danger">*Preencha todos os campos.</span>

</form>

<hr class="mt-3">

@if(showResult){
    <h6>Resultado:</h6>
    <span class="bg-success text-white p-2">
         {{form.value | json}}
    </span>
}